@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar-thumb {
    background-color: #0054bb;
    border-radius: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}

html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
